/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-error-msg {
  color: #f44336;
  display: block;
  padding: 5px 0;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}
